$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import './bourbon/bourbon';

/**
* App-wide Variables
*/
$admin-bg: #f3f3f4;

$text-color: #484848;
$border-color: #e7eaec;

$light-grey: #C7C8C8;
$light-green: #A3C5AA;
$light-brown: #D8CC92;
$light-yellow: #FBF9BF;

// Fonts
@font-face {
    font-family: Alef-Bold;
    src: url('../assets/fonts/Alef-Bold.woff') format('woff'), url('../assets/fonts/Alef-Bold.ttf'), url('../assets/fonts/Alef-Bold.eot')
}
@font-face {
    font-family: Alef-Regular;
    src: url('../assets/fonts/Alef-Regular.woff') format('woff'), url('../assets/fonts/Alef-Regular.ttf'), url('../assets/fonts/Alef-Regular.eot')
}

$font-bold: 'Alef-Bold', serif, arial;
$font-normal: 'Alef-Regular', serif, arial;

.bold {
    font-family: $font-bold;
}

body{
    font-size:14px;
    height: 100%;
    color: $text-color;
    font-family: $font-normal;
}
.page-wrap {
    width:100%;
    height: inherit;
    //height: 100%;
    //position: relative;
}

.full-width {
    width:100%;
}
.padding-left-sm {
    padding-left:10px;
}
.padding-top-md {
    padding-top:20px;
}
.no-padding-right {
    padding-right: 0;
}
.danger-test {
    color: #a94442;
    font-size: 1.2em;
}

.btn {
    background-color: #ccc;
}
.btn-primary {
    background-color: #337ab7 !important;
}

.light-grey {
    background-color: $light-grey;
}
.light-green {
    background-color: $light-green;
}
.light-brown {
    background-color: $light-brown;
}
.light-yellow {
    background-color: $light-yellow;
}
.well {
    margin-bottom: 7px;
}

.user-select-none {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
// Component styles are injected through grunt
// injector
@import '_main/main.scss';
@import 'admin/admin.scss';
@import 'admin/users/users.scss';
@import 'confirm-form/confirm-form.scss';
@import 'main/login/login.scss';
@import 'main/main.scss';
// endinjector
