<div class="main-wrap">
	<!--Header-->
	<img class="img-responsive center-block padding-top-md" src="../../../assets/images/ori-menu-logo.png" />
	<p class="menu-sub-header center-block">להזמנות מראש 054-4471985 | ניתן ליצור קשר במייל orishaikovitz@gmail.com</p>

	<div class="cur-user" ng-if="currentUser.name">
		<i class="fa fa-user"></i> היי	{{currentUser.name}} (<a class="link-btn" ng-click="logout()">התנתק</a>)
	</div>

	<!--Main Content-->
	<div class="main-content">
		<div class="col-md-8 col-md-offset-2">
			<div ng-repeat="items in itemsByType">
				<div class="order-wrap well main-item-wrap" ng-if="isListNotEmpty(items)"
						ng-class="items.colorClass">
					<h3>{{::items.name}}</h3>
					<div class="box-content forum-container">
						<div ng-repeat="item in items.list"
							 class="forum-item">
							<div class="row">
								<div class="col-xs-5 no-padding-right">
									<div class="pull-left item-left-wrap">
										<div class="forum-item-lg-title">{{item.amount}}</div>
										<div class="forum-item-sub-title">נשאר</div>
									</div>

									<div class="pull-left">
										<div class="order-btn" ng-click="orderItem(item);$event.stopPropagation();">
											הזמן
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="col-xs-7">
									<div class="forum-item-title">{{item.name}} | {{item.price}}<i class="fa fa-shekel"></i></div>
									<div class="forum-item-sub-title">{{item.description}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<div class="backdrop" ng-if="showBackdrop" ng-click="closeModals()"></div>
<confirm-form order="order" post-order-fn="updateLists()"></confirm-form>

