$main-bg-color: #fff;
$main-darker-10-color: $text-color;
$main-darker-12-color: #6c6c6c;
$selected-color: #F50062;

.main-wrap {
  background-color: $main-bg-color;
  width: 100%;
  height: inherit;
  //color:#fff !important;
  padding-bottom: 15px;
}

.ori-logo-fixed {
  height: 200px;
  padding-top:30px;
}

.ori-big-logo {

  position: absolute;
  max-width: 80%;
  top: 10%;
  left: 10%;

  &:empty {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  &.shrink {
    max-height: 200px;
  }
}

.main-content {
  margin-top: 30px;
}

.main-item-wrap {
  border:none;

  .forum-item {
    border-bottom: 1px solid $main-darker-12-color;
    padding: 10px 0;

    .fa-shekel {
      font-size: 0.7em;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .forum-item-lg-title {
    font-size:2.2em;
    line-height: 1.1;
    .fa {
      font-size:13px;
    }
  }
  .forum-item-sub-title {
    font-size:1.1em;
    line-height: 1;
  }

  .forum-item-sub-title {
    font-size:0.9em;
    line-height: 1;
  }
}
.item-left-wrap {
  padding-right: 15px;
  //margin-right: 10px;
}
.order-wrap {
  h3 {
    margin-top: 0;
    font-size:1.1em;
    text-decoration: underline;
  }
  .item-qty-wrap {
    margin-right: 10px;
    border-right: 1px solid $main-darker-12-color;
  }
  .order-item-qty-wrap {

    .qty-btn {
      font-size:1.4em;
      padding:10px 10px;
      color:#fff;
      cursor: pointer;
      font-weight: normal;
      &:hover {
        font-weight: bold;
        color: $selected-color;
      }
      &:first-child {
        padding-right:0;
      }
    }
    .qty-amount {
      font-size:2.2em;
    }
  }
}

.order-items-btn-wrap {
  padding:15px 15px 0;
  .order-items-btn {
    width: 200px;
  }
}
.order-items-btn {
  color: #484848;
  &:hover {
    background-color: $selected-color;
    color:#fff;
  }
}

table th {
  text-align: right;
}

.active, .hover-active:hover, .hover-active:hover .fa  {
  color: $selected-color;
}

.btn-blank {
  border:none;
  opacity:0.7;
  outline: none;
  background-color: transparent;
  &:hover, &:active, &:focus {
    border:none;
    outline: none !important;
    box-shadow: none;
    opacity: 1;
  }
}

.modal-header {
  height: 50px;
}
.no-padding {
  padding: 0;
}
.ori-logo-sm {
  min-height: 68px;
  min-width: 90px;
}

.b-r-dark {
  border-right: 1px solid $main-darker-12-color;
}

.big-icon {
  font-size: 160px;
  color: #e5e6e7;
}
.display-block{
  display: block;
}
.full-height {
  height:100%;
}
.cur-user {
  position: absolute;
  top: 15px;
  right: 30px;
}

.link-btn {
  color:$main-darker-10-color;
  text-decoration: underline;
  cursor: pointer;
}

.order-btn {
  background-color: #F7C2D4;
  font-family: $font-bold;
  padding:5px 12px;
  margin-top: 10px;
  cursor: pointer;
  border: none !important;
  outline: none !important;
  &:hover {
    color: #fff;
  }
}
.menu-sub-header {
  border-bottom: 1px solid #484848;
  text-align: center;
  width: 70%;
  max-width: 600px;
}
.half-opacity {
  opacity: 0.4;
}

.backdrop {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: #fff;
  opacity: 0.4;
  z-index: 5;
}



// Usage: @include animation(block-1-animate, $speed, ease-out, infinite)
@mixin animation ($animation, $duration, $transition, $iteration) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $transition;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $transition;
  -moz-animation-iteration-count: $iteration;
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $transition;
  animation-iteration-count: $iteration;
}
.fade-animation {
   &.enter,  &.ng-enter {
     @include animation(fadeIn, 1s, ease-out, 1);
   }
   &.leave, &.ng-leave {
     @include animation(fadeOut, 1s, ease-out, 1);
   }
 }

.slide-down-animation {
  &.enter,  &.ng-enter {
    @include animation(slideInDown, 0.5s, ease-out, 1);
  }
  &.leave, &.ng-leave {
    @include animation(slideOutUp, 0.5s, ease-out, 1);
  }
}

.fade-down-animation {
  &.enter,  &.ng-enter {
    @include animation(fadeInDown, 0.5s, ease-out, 1);
  }
  &.leave, &.ng-leave {
    @include animation(fadeOutUp, 0.5s, ease-out, 1);
  }
}



@media only screen and (max-width : 480px) {
  .order-item-qty-wrap {
    font-size:0.7em;
  }
}