<div class="login-form-wrap" dir="rtl">

	<div class="sign-up-selectors">
		<a ng-click="changeMode(false)" ng-class="{active:!signUp}">משתמש קיים</a> |
		<a ng-click="changeMode(true)" ng-class="{active:signUp}">משתמש חדש</a>
	</div>

	<!--Sign In Section-->
	<div ng-if="!signUp">
		<form role="form">
			<div class="form-group">
				<input type="email" placeholder="מייל" class="form-control" ng-model="user.email">
			</div>
			<div class="form-group">
				<input type="text" placeholder="נייד" class="form-control" ng-model="user.password">
				<!--<input type="password" placeholder="סיסמה" class="form-control" ng-model="user.password">-->
			</div>

			<button class="order-btn pull-left" type="submit" ng-click="login()">
				הכנס
			</button>
			<div class="clearfix"></div>
		</form>
		<br/>
		<div>
			<div class="alert"
				 ng-class="{'alert-success': !msg.isError, 'alert-danger': msg.isError}"
				 ng-if="msg.isVisible">
				{{msg.text}}
			</div>
		</div>
	</div>

	<!--Sign Up Selector-->
	<div ng-if="signUp">
		<form class="item-form" role="form" dir="rtl">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.name" placeholder="שם" />
			</div>
			<div class="form-group">
				<input type="email" class="form-control" ng-model="user.email" placeholder="מייל" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.phone" placeholder="נייד" />
			</div>
			<!--<div class="form-group">-->
				<!--<label>סיסמה</label>-->
				<!--<input type="password" class="form-control" ng-model="user.password"/>-->
			<!--</div>-->

			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.officeName" placeholder="שם המשרד" />
			</div>
			<div class="form-group">
				<select class="form-control"
						ng-model="user.office"
						ng-options="office as office for office in officesNames">
				</select>
			</div>

			<button class="order-btn pull-left" type="submit" ng-click="createUser()">
				הרשם
			</button>
			<div class="clearfix"></div>
		</form>
		<br/>
		<div class="alert"
			 ng-class="{'alert-success': !msg.isError, 'alert-danger': msg.isError}"
			 ng-if="msg.isVisible">
			{{msg.text}}
		</div>
	</div>
</div>